/* FUENTES */
@font-face{
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face{
    font-family: "Lato-Thin";
    src: url("../fonts/Lato-Thin.ttf");
}

@font-face{
    font-family: "Lato-ThinItalic";
    src: url("../fonts/Lato-ThinItalic.ttf");
}

@font-face{
    font-family: "Beauty";
    src: url("../fonts/BeautyDemo.ttf");
}

/* Generales */

html, body{
    height: 100%;
    font-family: Lato-Thin;
    font-weight: 800;
    color: #ffffff;
    background-color: #2b2b2b;
    scrollbar-color: #5bc5f2 #2b2b2b;
}

body::-webkit-scrollbar{
    background-color: #2b2b2b;
}

body::-webkit-scrollbar-thumb{
    background-color: #5bc5f2;
    border-radius: 0 20px 0 20px;
}

.Fade-In{
    opacity: 0;
}

.cursor{
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    display: none;
}

.cursor::after{
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    content: '';
    position: absolute;
    top: 47%;
    left: 47%;
    border-radius: 50%;
}

.cursorExpand{
    animation: animacionCursor .5s forwards;
    border: 2px solid #5bc5f2;
}

@keyframes animacionCursor{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

.Flecha-Up{
    position: fixed;
    bottom: 8%;
    right: 2%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #5bc5f2;
    border-radius: 50%;
    transition: .2s ease;
    opacity: 0;
}

.Flecha-Up::after{
    position: absolute;
    content: '';
    top: 20px;
    left: 15px;
    display: block;
    height: 20px;
    width: 20px;
    border-left: 2px solid #5bc5f2;
    border-bottom: 2px solid #5bc5f2;
    transform: rotate(135deg);
}

.Flecha-Up:hover{
    background-color: #ffffff;
    transition: .2s ease;
}

.MenuOpen{
    display: none;
}

.MenuClose{
    display: none;
}

/*MENU LEFT*/
.menu-Left{
    background-color: #0c0c0c;
    position: fixed;
    width: 20%;
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Linkhome{
    text-decoration: none;
    color: #ffffff;
}

.Linkhome:hover .TextLogoAB{
    color: #5bc5f2;
    font-weight: bold;
    letter-spacing: 1px;
}

.LogoAB svg{
    width: 60%;
    display: block;
    margin: 10% auto 0;
}

.TextLogoAB{
    margin-top: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.listadoMenu{
    list-style: none;
    padding: 0;
    border-top: 2px solid #ffffff;
    margin: 0;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.ListMenu{
    border-bottom: 2px solid #ffffff;
    padding: 10% 0;
}

.LinkMenu{
    color: #ffffff;
    font-size: 1.4rem;
    text-decoration: none;
    width: 100%;
    display: block;
    transition: 0.2s ease;
}

.LinkMenu:hover, .LinkMenu:focus{
    border-right: 8px solid #5bc5f2;
    color: #5bc5f2;
    font-weight: bold;
    letter-spacing: 1px;
}

.MenufooterLogos{
    display: inline-flex;
    padding: 5%;
    justify-content: space-around;
}
.Imagencirculo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    align-items: center;
    display: flex;
    background-color: #0c0c0c;
    transition: 0.2s ease;
}

.IconoSVG{
    width: 50%;
} 

.Imagencirculo:hover{
    border: 2px solid #5bc5f2;
    background-color: #ffffff;
}

.Imagencirculo:hover .IconoSVG path {
    fill:#5bc5f2!important
}

.Imagencirculo:hover .IconoSVG {
    width: 55%;
}



/* Content Main */
.contentMain{
    background-color: #202020;
    padding-left: 22%;
    display: block;
    overflow-x: hidden;
    
}
section{
    padding: 2% 8%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.button{
    border-radius: 0 20px 0 20px;
    border: 1px solid #5bc5f2;
    color: #5bc5f2;
    text-decoration: none;
    display: block;
    padding: 2% 4%;
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    transition: 0.2s ease;
}

.button:hover{
    background-color:#ffffff;
    color: #5bc5f2;
    font-family: Lato-Bold;
    letter-spacing: .1px;
}

.TituloSection{
    width: 100%;
}

.TituloSection h2{
    font-family: Lato-Bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 1%;
}

.barraAzulTitulo{
    display: block;
    width: 20%;
    height: 6px;
    background-color: #5bc5f2;
    margin-bottom: 4%;
}

/* HOME */
.Home{
    margin-top: 4%;
    padding-bottom: 0;
}

.hola_header_title{
    font-family: Beauty;
    font-size: 5rem;
}
.tituloPrincipal{
    font-size: 4rem;
    font-weight: 100;
}

.tituloPrincipal strong{
    color: #5bc5f2;
    font-family: Lato-Bold;
    letter-spacing: 2px;
}

.header_subtitle{
    font-size: 2rem;
    font-family: Lato-Thin;
    font-weight: 100; 
}

.header__button{
    margin-top: 8%;
    width: 15%;
}

.flechas-animadas{
    position: relative;
    width: 40px;
    height: 70px;
    margin: auto;
}

.cuadroHome{
    margin-bottom: 6%;
}

.chevron {
  position: absolute;
  width: 30px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before, .chevron:after {
  content: ' ';
  position: absolute;
  top: 10;
  height: 100%;
  width: 51%;
  background: #5bc5f2;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

/* SOBRE MI */
.Texto{
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: .5px;
    width: 100%;
}
.Texto a{
    text-decoration: none;
    color: #5bc5f2;
    font-family: Lato-Bold;
    transition: .2s ease;
}

.Texto strong{
    font-family: Lato-Bold;
    color: #5bc5f2;
}

.Texto a:hover {
    color: #ffffff;
    background-color: #5bc5f2;
}

.FotoSkills{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: top;
    margin-top: 10%;
}

.ContentFoto{
    width: 45%;
    text-align: center;
}

.FotoPrincipal{
    width: 75%;
    border: 2px solid #5bc5f2;
    border-radius: 0 80px 0 80px;
}

.GrupoLogos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}
.LogoImagen{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.IconWebSVG{
    width: 50%;
    margin-bottom: 10%;
    transition: 2s ease;
}

.tituloLogo{
    opacity: 0;
    margin:  auto;
    transform: translateY(10px);
}

.LogoImagen:hover .tituloLogo{
    opacity: 1;
    transition: .3s ease;
    transform: translateY(0px);
}

.LogoImagen:hover .JqueryLogo path{
    fill: #0868ac!important;
    transition: .3s ease;

}

.LogoImagen:hover .CSSLogo path{
    fill: #264de4!important;
    transition: .2s ease;
}

.LogoImagen:hover .JSLogo path{
    fill: #f7df1e!important;
    transition: .2s ease;
}

.LogoImagen:hover .AngularLogo path, .LogoImagen:hover .AngularLogo polygon{
    fill: #dd1b16!important;
    transition: .2s ease;
}


.ContentSkills{
    width: 45%;
}

.GrupoSkill{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NombreSkill{
    width: 20%;
    text-align: right;
}

.barraAzulSkill{
    width: 50%;
    position: relative;
}

.BarraAzulFinal{
    height: 100%;
    background-color: #5bc5f2;
    border-radius: 0 20px 0 20px;
    width: 0;
}


.PorcentajeSkills{
    width: 20%;
    text-align: left;
}

.SectionElementosDisenador{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 5%;
}

.SectionElemento{
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.imagenSectionelemento{
    border: 2px solid #5bc5f2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 6% auto;
    border-radius: 0 20px 0 20px;
    transition: .2s ease;
}

.imagenSectionelemento:hover{
    border: 2px solid #ffffff;
}

.LogoDisenoSVG{
    height: 30px;
}

.imagenSectionelemento:hover .LogoDisenoSVG{
    height: 32px;
} 
.imagenSectionelemento:hover .LogoDisenoSVG path, .imagenSectionelemento:hover .LogoDisenoSVG circle, .imagenSectionelemento:hover .LogoDisenoSVG rect{
    fill: #ffffff !important;

}

.SectionElemento h4{
    height: 10%;
    text-align: center;
    font-family: Lato-Bold;
    font-size: 1.2rem;
    line-height: 1.4;
}
.SectionElemento p{
    margin: auto;
    height: 55%;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: .5px;
    width: 100%;
}
.Descargar_button{
    margin: 4% auto;
    width: 20%;
    display: block;
}

/* Proyectos */
.GrupoProyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.ProyectoCompleto{
    width: 45%;
    margin: 4% 0;
}

.ProyectoCompleto img{
    width:100%;
    border: 3px solid #5bc5f2;
    border-radius: 0 40px 0 40px;
}

.ProyectoCompleto h4{
    font-size: 1.6rem;
    font-family: Lato-Bold;
    letter-spacing: 1px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.LogosProyectos{
    display: flex;
    justify-content: center;
}

.ImagencirculoProyecto{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    align-items: center;
    display: flex;
    background-color: transparent;
    transition: 0.2s ease;
    margin: 0 4%;
}

.ImagencirculoProyecto svg{
    width: 40%;
}

.VerGaleria{
    width: 50%;
    margin-top: 4%;
    font-family: Lato-Thin;
}

.ImagencirculoProyecto:hover{
    background-color: #ffffff;
    border: 2px solid #5bc5f2;

}

.ImagencirculoProyecto:hover .IconoSVG path {
    fill:#5bc5f2!important
}

.ImagencirculoProyecto:hover .IconoSVG {
    width: 55%;
}

/* Contacto */

.Preguntar_button{
    width: 50%;
    font-family: Lato-Thin;
}

.Datoscontacto{
    display: flex;
    justify-content: space-between;
}
.ContactoTexto{
    width: 45%;
}

.TextoContacto{
    text-transform: uppercase;
    font-size: 1.4rem;
}
.EmailContacto{
    font-size: 1.6rem;
    font-family: Lato-Bold;
    color: #5bc5f2;
    text-decoration: none;
}

.EmailContacto:hover{
    background-color:#5bc5f2;
    color: #ffffff;
}

.imgContacto{
    width: 45%;
}
.imgContacto img{
    width: 100%;
}

/* FOOTER */
.footerFinal{
    width: 110%;
    background-color: #ECECEC;
    text-align: center;
    padding: 1%;
    margin-left: -3%;
}

.TextoFooter{
    color: #202020;
    padding: 0;
    margin: 0;
}

/* GALERIA IMAGENES*/
#popUp{
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2b2b;
    border: 2px solid #5bc5f2;
    border-radius: 20px;
    padding: 2%;
    z-index: 999;
    display: none;
    transition: 2s ease;
}

.TopPopup, .Cambioimagen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 6%;
}

.TitlePopUp{
    width: 100%;
    font-family: Lato-thin;
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.closeButton, #atrasImagen, #adelanteImagen{
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 3rem;
    transition: .2s ease;
}

.closeButton{
    position: absolute;
    right: 5%;
}
.closeButton:hover{
    color:  #E8220D;
    transform: rotate(90deg);
}

#atrasImagen:hover, #adelanteImagen:hover{
    color: #5bc5f2;
    font-size: 4rem;
}
.imagenPopUp{
    width: 70% !important;
    border: none !important;
}

#atrasImagen, #adelanteImagen{
    width: 10%;
}

.overlay{
    position: fixed;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: none;
}


